<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/icon.png}">
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="header :: copy-header"></div>
<!--/*@thymesVar id="products" type="java.util.List<com.shishkin.auctionapp.model.Product>"*/-->
<main>
    <div class="container">
        <div class="products-inner">
            <div class="products">
                <table>
                    <tr>
                        <th>Наименование</th>
                        <th>Категория</th>
                        <th>Описание</th>
                        <th>Цена</th>
                    </tr>
                    <tr th:each="product: ${products}">
                        <td><a th:href="@{/products/{id}(id=${product.getId()})}"
                               th:text="${product.title}">value</a></td>
                        <td th:text="${product.categoryTitle}">category</td>
                        <td th:text="${product.description}">description</td>
                        <td th:text="${product.price}">price</td>
                    </tr>
                </table>
            </div>
            <br/>
            <hr/>
            <a href="/products/create">Создать продукт!</a>
            <form th:method="POST" th:action="@{/products/create/many}"
                  enctype="multipart/form-data">
                <button type="submit"> Сгенерировать 10 продуктов! </button>
            </form>
        </div>
    </div>
</main>
</body>
</html>