* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, sans-serif;
}

a {
    text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    max-width: 1170px;
    width: 96%;
    margin: 0 auto;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.create-product-form {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    align-items: center;
}

.create-product-form div {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.create-product-form button {
    width: 150px;
    font-size: 15px;
}


/* Header */

header{
    background-color: #4775d1;
    min-height: 75px;
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
    max-width: 240px;
    width: 100%;
    justify-content: space-between;
}

header nav img {
    width: 40px;
    height: 40px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: start;
}

header ul li {
    margin-left: 20px;
}

header a {
    text-shadow: 1px 1px #000000;
    color: white;
}

header a:hover {
    color: black;
    text-shadow: none;
    transition-duration: 1ms;
}

.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register-header-inner, .login-header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px #000000;
    color: white;
    font-size: 20px;
    padding: 0;
}

/* End header */

.hello-main-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.hello-header-authorization a {
    margin-left: 20px;
}

.login-main-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#loginForm input {
    font-size: 16px;
    padding: 5px;
}

#loginForm button {
    font-size: 16px;
    width: 30%;
    padding: 5px;
    margin: 0 auto;
}

.login-register-link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.products-product {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
}

.products-product-image-block {
    height: 100px;
    width: 100px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.products-product-image {
    width: 100%;
    height: 100%;
}

.products-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.products-inner a, button{
    margin-bottom: 10px;
}

.products-inner button {
    padding: 5px;
}

.products {
    margin-top: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4775d1;
    color: white;
}

.products-category-find {
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    flex-direction: column;
}

.products-category-find button {
    margin-top: 10px;
    margin-bottom: 0;
}
