* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*.create-product-form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 42%;*/
/*    align-items: flex-start;*/
/*    margin: 0 auto;*/
/*}*/

.create-product-form div {
    margin: 10px;
}

/*.create-product-form div label {*/
/*    margin-right: 40px;*/
/*}*/

/*.create-product-form div input {*/
/*    margin-left: 40px;*/
/*}*/