<!DOCTYPE html>
<html lang="en">
<body>
<header th:fragment="copy-header">
    <div class="container">
        <div class="header-inner">
            <nav>
                <a href="/">
                    <img th:src="@{/images/icon.png}" alt="logo">
                </a>
                <ul>
                    <li><a href="/products">Продукты</a></li>
                    <li><a href="/categories">Категории</a></li>
                </ul>
            </nav>
            <div class="hello-header-authorization">
                <a href="/logout">Выйти</a>
            </div>
        </div>
    </div>
</header>
</body>

</html>