<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Auction</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/icon.png}">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header th:fragment="copy-header">
    <div class="container">
        <div class="header-inner">
            <nav>
                <a href="/">
                    <img th:src="@{/images/icon.png}" alt="logo">
                </a>
                <ul>
                    <li><a href="/products">Продукты</a></li>
                    <li><a href="/categories">Категории</a></li>
                </ul>
            </nav>
            <div sec:authorize="!(isAuthenticated())" class="hello-header-authorization">
                <a href="/login">Войти</a>
                <a href="/register">Зарегистрироваться</a>
            </div>
            <div sec:authorize="isAuthenticated()" class="hello-header-authorization">
                <a href="/logout">Выйти</a>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="hello-main-inner">
            Добро пожаловать в интернет магазин!
        </div>
    </div>
</main>
</body>
</html>