<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/icon.png}">
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <div class="container">
        <div class="login-header-inner">
            Авторизация
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="login-main-inner">
            <div th:if="${error}">
                Неверные данные для входа. Проверьте правильность логина и пароля.
            </div>

            <form method="POST" th:action="@{/login}" id="loginForm">
                <label for="username">Имя пользователя: </label>
                <input type="text" name="username" id="username" /><br/>
                <label for="password">Пароль: </label>
                <input type="password" name="password" id="password" /><br/>
                <input type="submit" value="Войти"/>
            </form>
            <div class="login-register-link">
                <a th:href="@{/register}">Регистрация</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>