<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/icon.png}">
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <div class="container">
        <div class="register-header-inner">
            Регистрация
        </div>
    </div>
</header>
<main>
    <div class="container">
        <!--/*@thymesVar id="user" type="com.shishkin.auctionapp.model.User"*/-->
        <form th:method="POST" th:action="@{/register}" th:object="${user}">
            <label for="username">Имя пользователя: </label>
            <input type="text" th:field="*{username}" id="username"/><br/>
            <label for="password">Пароль: </label>
            <input type="password" th:field="*{password}" id="password"/><br/>
            <label for="confirm">Подтверждение пароля: </label>
            <input type="password" id="confirm"/><br/>
            <label for="fullname">Полное имя: </label>
            <input type="text" th:field="*{fullname}" id="fullname"/><br/>
            <label for="email">Город: </label>
            <input type="text" th:field="*{email}" id="email"/><br/>
            <label for="phone">Телефон: </label>
            <input type="text" th:field="*{phoneNumber}" id="phone"/><br/>
            <input type="submit" value="Зарегистрироваться"/>
        </form>
    </div>
</main>
</body>
</html>